---
title: Travels of Alex Miles
---

<div class="header">
  <div class="logo">
    <img src="images/logo-face.png" alt="Alex's Travels" />
    <h1>The Travels of Alex</h1>
  </div>
</div>
<div class="wrapper">
  <ul class="pics"></ul>
  <div class="first-load"></div>
  <div class="load-more btn" href="#_">Load More</div>
  <div class="scroll-top">Back to top</div>
  <div class="like-btn">
    <div class="fb-like" data-href="http://travel.alexmilesdesign.com" data-layout="button_count" data-send="true" data-width="450" data-show-faces="false"></div>
  </div>
</div>